.contenedor-flotas {
  padding: 2em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.contenedor-flotas h1 {
  margin-bottom: 20px;
  border-bottom: 2px solid #2b2d31;
  padding-bottom: 10px;
}

/* ================================================================
   NUEVO LAYOUT: Panel Principal dividido
   ================================================================ */
.panel-principal {
  width: 100%;
  overflow: hidden;
}

/* Lado izquierdo (Tabla) */
.tabla-flotas {
  float: left;
  width: 70%;
}

.header_din {
  display: block;
  overflow: hidden;
}

.header_din h2 {
  float: left;
  width: 11%;
  text-align: center;
  font-size: 1.1em;
  margin: 0;
  padding-bottom: 10px;
}

/* ================================================================
   FILAS DE DATOS (Generadas desde flotas.js)
   ================================================================ */
.flotasBox {
  overflow: hidden;
  padding: 12px 0;
  border-bottom: 1px solid #111214;
}

/* Efecto al pasar el ratón por encima de una fila */
.flotasBox:hover {
  background-color: #1e1f22;
}

.flotasBox h3 {
  float: left;
  width: 14.28%; /* Misma anchura que los títulos para que alineen perfecto */
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  color: #f2f3f5;
  margin: 0; /* Reset de márgenes */
}

/* ================================================================
   Lado derecho (Botones)
   ================================================================ */
#btns {
  float: right;
  width: 18%;
  text-align: right;
  margin-top: 0;
}

#btns button {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  margin-left: 0;
  padding: 10px;
  cursor: pointer;
}
