/*------------FORMATO------------*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(139, 182, 139);
  background: -webkit-linear-gradient(
    top left,
    rgb(244, 255, 244),
    rgb(139, 182, 139)
  );
  background: linear-gradient(135deg, rgb(244, 255, 244), rgb(139, 182, 139));
  color: rgb(6, 46, 6);
  height: 32em;
  width: 100%;
  display: -moz-box;
  -moz-box-orient: vertical;
}

header {
  position: relative;
  z-index: 5;
  height: 110px;
  background-color: rgb(148, 197, 148);
  -webkit-box-shadow: 0px 10px 10px 0px rgb(6, 46, 6);
  box-shadow: 0px 10px 10px 0px rgb(6, 46, 6);
  display: block;
  padding: 0 5%;
  overflow: hidden;
}

header img {
  height: 100%;
  float: left;
}

nav {
  position: relative;
  z-index: 4;
  display: block;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 1%;
  background-color: rgb(179, 250, 179);
  -webkit-box-shadow: 0px 5px 5px 0px rgb(6, 46, 6);
  box-shadow: 0px 5px 5px 0px rgb(6, 46, 6);
  overflow: hidden;
}

nav button {
  background-color: transparent;
  border: 1px solid rgb(0, 71, 0);
  border-left: 6px solid rgb(0, 71, 0);
  color: rgb(0, 71, 0);
  float: left;
  margin-right: 2%;
}

nav button:hover {
  background-color: rgb(199, 236, 199);
}

main {
  background: red;
  display: -moz-box;
  height: 100%;
  width: 90%;
  padding-top: 10%;
}

/*------------ELEMENTOS HTML------------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p {
  font-size: 1.2em;
}

/*------------BOTONES------------*/
button {
  text-align: center;
  min-height: 40px;
  cursor: pointer;
  -webkit-transition: 200ms;
  transition: 200ms;
  border-radius: 5px;
  color: rgb(0, 71, 0);
  font-size: 1.2em;
  background-color: rgb(166, 221, 166);
  border: solid 2px rgb(0, 71, 0);
}

button:hover {
  -webkit-box-shadow: 0px 0px 15px 5px rgba(6, 46, 6, 0.5);
  box-shadow: 0px 0px 15px 5px rgba(6, 46, 6, 0.5);
}

.negative {
  background-color: rgb(161, 245, 161);
  color: rgb(3, 32, 3);
}

/*------------INPUT------------*/
input {
  padding: 10px;
  border: solid 2px rgb(21, 100, 21);
  outline: none;
  border-radius: 5px;
  font-size: 1.2em;
}

input:active {
  background-color: rgb(192, 255, 192);
  -webkit-box-shadow: 5px 0px 20px rgb(0, 26, 0);
  box-shadow: 5px 0px 20px rgb(0, 26, 0);
}

/*------------SELECT------------*/
select {
  border-radius: 5px;
  height: 40px;
  font-size: 1.2em;
}

select option {
  background-color: rgb(197, 255, 197);
  color: black;
}

/*------------TEXTAREA------------*/
textarea {
  padding: 10px;
  border: solid 2px rgb(21, 100, 21);
  border-radius: 5px;
  outline: none;
  resize: none;
  font-size: 1.2em;
  height: auto;
}

/* Fix para limpiar flotados al final de los contenedores */
header:after,
nav:after,
main:after {
  content: "";
  display: table;
  clear: both;
}

.logo-izquierda {
  float: left;
  height: 100%;
  width: 40%;
  display: block;
}

.logo-izquierda img {
  height: 80%;
  margin-top: 5%;
}

.botones-derecha {
  float: right;
  height: 100%;
  width: 50%;
  text-align: right;
}

.botones-derecha button {
  height: 75%;
  width: 28%;
  margin: 5px 1%;
  margin-top: 15px;

  display: block;
  float: left;

  padding: 0;
  font-size: 1em;
  cursor: pointer;
}

.header_din {
  background-color: aquamarine;
  display: -moz-box;
  padding: 0.5em;
  width: min-content;
}

/* .header_din h2 {
  display: block;
  float: left;
  text-align: center;
} */
